.signUp-con{
    background-image: url('https://source.unsplash.com/1600x800/?users');
    height: 100vh;
}

.signUp{
    margin: 0 auto;
    max-width: 500px;
}

.signUp-header{
    color: #fff;
    text-align: center;
    font-size:30px;
}

.signUp-form h3{
    text-align:left;
    margin-left:40px;
    color:#fff 
}

.signUp-form{
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
}

.signUp input[type="text"],
.signUp input[type="password"]{
    max-width: 400px;
    width: 80%;
    line-height:3em;
    font-family: 'Ubuntu';
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #f2f2f2;
    outline:none;
    padding-left:10px;
}
.signUp input[type="button"] {
    height: 30px;
    width: 150px;
    background:#fff;
    border:1px solid #f2f2f2;
    border-radius:5px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'ubuntu';
    /* padding: 10px 30px; */
    cursor:pointer;
  }

  .signUp-text{
    color:#f2f2f2; 
    cursor:pointer;
  text-decoration:underline;
}

.login-link{
    color:gray; 
    cursor:pointer;
  text-decoration:underline;
  font-family: ubuntu;
}

.login-link:hover{
    color: black;
}

.login-term{
    color: gray;
    font-family: ubuntu;
}